# Ignoriere Konfigurationsdateien mit sensiblen Daten
richtige_config.ini
config.ini

# Ignoriere Infodatepí
Infos

# Ignoriere Runtime-Dateien (Logs und CSV)
*.log
heizungsdaten*.csv

# Ignoriere PyCharm-Projektdateien
.idea/

# Ignoriere virtuelle Environments
.venv/

# Python Cache
__pycache__/
*.pyc