[Heizungssteuerung]
MIN_LAUFZEIT = 15
MIN_PAUSE = 3
MIN_LAUFZEIT_S = 180
MIN_AUSZEIT_S = 180
NACHTABSENKUNG_START = 19:30
NACHTABSENKUNG_END = 8:00
VERDAMPFERTEMPERATUR = 6
SICHERHEITS_TEMP = 50
NACHTABSENKUNG = 15
EINSCHALTPUNKT_ERHOEHT = 40
AUSSCHALTPUNKT_ERHOEHT = 48
TEMP_OFFSET = 3
EINSCHALTPUNKT = 43
AUSSCHALTPUNKT = 45
HYSTERESE_MIN = 2
UEBERGANGSMODUS_MORGENS_ENDE = 10:00
UEBERGANGSMODUS_ABENDS_START = 17:00
LOOP_INTERVAL = 10

[Monitoring]
HEALTHCHECK_URL = https://hc-ping.com/YOUR_UUID_HERE
HEALTHCHECK_INTERVAL_MINUTES = 15

[SolaxCloud]
TOKEN_ID = YOUR_TOKEN_ID_HERE
SN = YOUR_SERIAL_NUMBER_HERE

[Telegram]
BOT_TOKEN = YOUR_BOT_TOKEN_HERE
CHAT_ID = YOUR_CHAT_ID_HERE

[Urlaubsmodus]
URLAUBSABsenkung = 15

[Solarueberschuss]
BATPOWER_THRESHOLD = 600.0
SOC_THRESHOLD = 95.0
FEEDINPOWER_THRESHOLD = 600.0

[Logging]
ENABLE_FULL_LOG = True
